* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* middledark */
  --primary-color: #5d737eff; 
  /* darkest */
  --secondary-color: #474e57ff;
  /* lightest */
  --tertiary-color:  #adb8bdff;
  --quaternary-color:  #9f496e;
}
body {
  color: var(--tertiary-color);
  background: var(--primary-color);
  font-family: sans-serif
}

.app-div {
  min-height: 100vh;
}

header {
  padding: 25px 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--teriary-color);
  background: var(--secondary-color);
}


.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  margin: 1vw 8vw;
}


.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item-active {
  color: black;
  text-decoration: none;
  background-color: #0A9396;
  border: 2px solid;
  border-radius: 5px;
  padding: .5rem;
}

header h1 {
  margin: 20px;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header-ul {
  display: flex;
  justify-content: space-around;
}

.header-li {
  display: inline;
  margin: 1rem;
  font-size: 1.5rem;
}

.header-a {
  text-decoration: none;
  color: aliceblue;
}

h1 {
  margin-left: 2rem;
}

#workNav {
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
}

.workCard {
  text-decoration: none;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 2;
  grid-row: 0 1 2 3 4;
  border-radius: 10px;
  margin: 2rem;
}
  
.workCard:hover {
  opacity: 0.7;
}

.wsp {
  font-size: 150%;
  border-radius: 10px 0 10px 0;
  color:aliceblue;
  background-color: #0F0700;
  margin-top: 0px;
  padding: 2px;
  width: fit-content;
}

#helpForHire {
  /* background-image: url("./help-for-hire.png");  */
}

#recipeRoulette {
  /* background-image: url("./worksample2.png"); */
}

#weatherApp {
  /* background-image: url("./worksample3.jpg"); */
}

#workScheduler {
  /* background-image: url("./worksample4.png"); */
}

#commerceBackend {
  /* background-image: url("./worksample5.jpg"); */
}